<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/base.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div id="sidebar">
            <img src="{{ absolute_url(asset('images/logo.jpg')) }}" alt="Symfony!" />
            {% block sidebar %}
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ path('app_lucky_number') }}">Lucky number</a></li>
                    <li><a href="{{ path('blog_list') }}">Blog</a></li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block body %}
                Hello world!
            {% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
